header {background:#393E46; display:flex; justify-content:space-between; padding:20px;}
header nav {display:flex; gap:30px;}
header nav a {color:#fff;}
header p {color:#fff;}
#wrap {height:100vh;}
#wrap .swiper-wrapper {}
#wrap .swiper-wrapper .intro {
    background:url(../images/intro_bg.jpg);
    animation:introBg 5s;
}
#wrap .swiper-wrapper .intro .intro_wrap {
    background:Red; width:1620px; height:624px;
    margin:200px auto 0;
    display:flex; justify-content:space-between;
}
#wrap .swiper-wrapper .intro .intro_wrap p {color:#fff; font-size:3.125rem;}
#wrap .swiper-wrapper .intro .intro_wrap p span {color:#fff; font-size:3.125rem; font-weight:700;} 
#wrap .swiper-wrapper .intro .intro_wrap h1 {
    font-size:9.375rem; font-weight:700;
    color:#fff; opacity:0;
    animation:introH1 1s linear 1s both;
    margin-top:330px;
}
#wrap .swiper-wrapper {}
#wrap .swiper-wrapper .container {
    display:flex; justify-content:space-between; align-items:center;
    width:1620px; background:Red; margin:0 auto; height:800px;
}
#wrap .swiper-wrapper .container .photo_info {text-align:center;}
#wrap .swiper-wrapper .container .photo_info h2 {}
#wrap .swiper-wrapper .container .photo_info .my_img {/* 이미지가 들어갈 공간 */ width:300px; height:300px; background:blue; margin:30px 0;}
#wrap .swiper-wrapper .container .photo_info .my_info {text-align:left;}
#wrap .swiper-wrapper .container .photo_info .my_info p {}
#wrap .swiper-wrapper .container .my_career {}
#wrap .swiper-wrapper .container .my_career .education {}
#wrap .swiper-wrapper .container .my_career .education ul {}
#wrap .swiper-wrapper .container .my_career .education ul li {}
#wrap .swiper-wrapper .container .my_career .education ul li span {}
#wrap .swiper-wrapper .container .my_career .license {}
#wrap .swiper-wrapper .container .my_career .license ul {}
#wrap .swiper-wrapper .container .my_career .license ul li {}
#wrap .swiper-wrapper .container .my_career .license ul li span {}
#wrap .swiper-wrapper .container .my_career .experience {}
#wrap .swiper-wrapper .container .my_career .experience ul {}
#wrap .swiper-wrapper .container .my_career .experience ul li {}
#wrap .swiper-wrapper .container .my_career .experience ul li span {}
#wrap .swiper-wrapper .container .my_skill {}
#wrap .swiper-wrapper .container .my_skill .skill {}
#wrap .swiper-wrapper .container .my_skill .skill p {}
#wrap .swiper-wrapper .container .my_skill .skill p img {}
#wrap .swiper-wrapper .container .my_skill .skill .application {}
#wrap .swiper-wrapper .container .my_skill .skill .application span {}
#wrap .swiper-wrapper .container .my_skill .skill > span {}